{% if segments %}
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            {% for segment in segments %}
            <li>
                <a title="Listar {{ segment.segment.name }}" href="#tab_{{ segment.id }}" class="btn-loadaction" data-id="{{ segment.id }}" data-path="{{ path( "segments_loadsegment" ) }}" data-step="tab-content" data-toggle="tab" aria-expanded="true">
                    {{ segment.segment.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="text">Selecione um segmento acima</div>

            <div class="loader text-center">
                <img src="{{ asset( "assets/global/img/input-spinner.gif" ) }}" />
            </div>
        </div>
    </div>
{% else %}
    0
{% endif %}