{% if banners %}
    <table class="table table-hover table-light">
        <thead class="uppercase">
            <th>Id</th>
            <th>Tamanho</th>
            <th>Nome</th>
            <th>Banner</th>
            <th>Externo</th>
            <th width="120"></th>
        </thead>
        <tbody>
        {% for banner in banners %}
            <tr>
                <td>{{ banner.id }}</td>
                <td>-</td>
                <td>-</td>
                <td>
                    {% if banner.external == 1 %}
                        <a class="fancybox" href="#banner_{{ banner.id }}">Visualizar</a>
                    {% else %}
                        <a class="fancybox" href="{{ asset( ( 'upload/' ~ banner.fileupload.filename ) ) }}">Visualizar</a>
                    {% endif %}
                </td>
                <td>{% if banner.external == 0 %}{{ "Não" }}{% else %}{{ "Sim" }}{% endif %}</td>
                <td align="right">
                    <a class="btn purple" title="Editar {{ banner.positions.name }}" href="{{ path('segments_edit', { 'id': banner.id }) }}"><i class="fa fa-pencil"></i></a>
                    <a class="btn red" title="Deletar {{ banner.positions.name }}" href="{{ path('segments_show', { 'id': banner.id }) }}"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for banner in banners %}
        {% if banner.external == 1 %}
            <div id="banner_{{ banner.id }}" style="display: none;">
                {{ banner.code|raw }}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    0
{% endif %}