{% extends 'AdSisBundle::template.html.twig' %}

{% block title %}
    Campanhas
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold uppercase">Listagem das campanhas</span>
                </div>

                <a href="{{ path('campaigns_new') }}" class="btn green-sharp pull-right uppercase bold">
                    <i class="fa fa-fw fa-plus"></i> Adicionar nova campanha
                </a>
            </div>
            <div class="portlet-body">
                <table class="table table-hover table-light">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Porcentagem</th>
                        <th>Status</th>
                        <th>Criado em</th>
                        <th width="160"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.percentage }}%</td>
                            <td>{% if entity.active == 0 %}Inativo{% else %}Ativo{% endif %}</td>
                            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td align="right">
                                <a class="btn blue" href="{{ path('campaigns_edit', { 'id': entity.id }) }}" title="Detalhes de {{ entity.name }}"><i class="fa fa-eye"></i></a>
                                <a class="btn purple" href="{{ path('campaigns_edit', { 'id': entity.id }) }}" title="Editar {{ entity.name }}"><i class="fa fa-pencil"></i></a>
                                <a class="btn red" href="{{ path('campaigns_show', { 'id': entity.id }) }}" title="Desativar {{ entity.name }}"><i class="fa fa-minus-circle"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
