/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/* * {transition: 0.4s all;} */

.loader.text-center {display: none;}
.user-segment-list ul {
    list-style: none;
    padding: 0;
    width: 100%;
}
    .user-segment-list ul li {border-bottom: 1px solid rgba( 255, 255, 255, 1 );}
    .user-segment-list ul li:last-child {border-bottom: none;}
        .user-segment-list ul li a {
            background: rgba( 0, 0, 0, .01 );
            display: block;
            padding: 12px;
            text-align: left;
        }
        .user-segment-list a.active {
            background-color: #45B6AF;
            color: #FFF;
        }

.externalLink,
.externalCode {height: 80px;}

.title-button {margin-left: 5px;}

.page-content {padding-top: 15px !important;}

.no-padding {padding: 0;}

@media screen and (min-width: 1200px) and (max-width: 1510px) {
    .title-button-option a {
        margin-top: 5px;
        padding: 3.5px 7px;
    }
}