{% extends 'AdSisBundle::template.html.twig' %}

{% block body -%}

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp bold uppercase">Editar Site</span>
            </div>
        </div>
        <div class="portlet-body">
            {{ form_start( edit_form ) }}

            <div class="form-group">
                {{ form_label( edit_form.name ) }}
                {{ form_widget( edit_form.name ) }}
            </div>

            <div class="form-group">
                {{ form_label( edit_form.email ) }}
                {{ form_widget( edit_form.email ) }}
            </div>

            <div class="form-group">
                {{ form_label( edit_form.password ) }}
                {{ form_widget( edit_form.password ) }}
            </div>

            <div class="form-group">
                {{ form_label( edit_form.usersGroups ) }}
                {{ form_widget( edit_form.usersGroups ) }}
            </div>

            <div class="form-group">
                {{ form_label( edit_form.active ) }}
                {{ form_widget( edit_form.active ) }}
            </div>

            <div class="form-group">
                {{ form_label( edit_form.segments ) }}
                {{ form_widget( edit_form.segments ) }}
            </div>

            <hr />

            <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-check"></i> Salvar</button>
            <a class="btn" href="{{ path('sites') }}">Voltar</a>

            {{ form_end( edit_form ) }}
        </div>
    </div>

{% endblock %}
