{% extends 'AdSisBundle::template.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title bordered">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">Listagem dos usuários</span>
                    </div>

                    <a href="{{ path('users_new') }}" class="btn green-sharp pull-right uppercase bold">
                        <i class="fa fa-fw fa-plus"></i> Adicionar novo usuário
                    </a>
                </div>
                <div class="portlet-body">
                    <table class="table table-hover table-light">
                        <thead class="uppercase">
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Status</th>
                            <th>Criado em</th>
                            <th>Atualizado em</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                                    <td>{{ entity.email }}</td>
                                    <td>{% if entity.active == 1 %}Ativo{% else %}Inativo{% endif %}</td>
                                    <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td align="right">
                                        <a class="btn purple" href="{{ path('users_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn red" href="{{ path('users_show', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
