{% extends 'AdSisBundle::template.html.twig' %}

{% block body -%}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">Editar Posição</span>
        </div>
    </div>
    <div class="portlet-body">
        {{ form_start( edit_form ) }}

        <div class="form-group">
            {{ form_label( edit_form.name ) }}
            {{ form_widget( edit_form.name ) }}
        </div>

        <hr />

        <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-check"></i> Salvar</button>
        <a class="btn" href="{{ path('sizes') }}">Voltar</a>

        {{ form_end( edit_form ) }}
    </div>
</div>
{% endblock %}
