{% extends 'AdSisBundle::template.html.twig' %}

{% block title %}
    Tamanhos
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold uppercase">Listagem das posições</span>
                </div>
                <a href="{{ path('sizes_new') }}" class="btn green-sharp pull-right uppercase bold">
                    <i class="fa fa-fw fa-plus"></i> Adicionar nova posição
                </a>
            </div>
            <div class="portlet-body">
	            {% if entities|length > 0 %}
	                <table class="table table-hover table-light">
	                    <thead>
	                        <tr>
	                            <th>Id</th>
	                            <th>Nome</th>
	                            <th>Criado em</th>
	                            <th></th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                    {% for entity in entities %}
	                        <tr>
	                            <td>{{ entity.id }}</td>
	                            <td><a href="{{ path('sizes_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
	                            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
	                            <td align="right">
	                                <a class="btn purple" href="{{ path('sizes_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
	                                <a class="btn red" href="{{ path('sizes_show', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>
	                            </td>
	                        </tr>
	                    {% endfor %}
	                    </tbody>
	                </table>
	            {% else %}
		            <p>Nenhum tamanho foi encontrado. Para adicionar um novo, <a href="{{ path( "sizes_new" ) }}">clique aqui</a></p>
	            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
