{% extends 'AdSisBundle::template.html.twig' %}

{% block body -%}

	<div class="portlet light bordered">
	    <div class="portlet-title">
	        <div class="caption">
	            <span class="caption-subject font-green-sharp bold uppercase">Adicionar Tamanho</span>
	        </div>
	    </div>
	    <div class="portlet-body">
	        {{ form_start( form ) }}
		        <div class="form-group">
		            {{ form_label( form.name ) }}
		            {{ form_widget( form.name ) }}
		        </div>

		        <hr />

		        <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-check"></i> Salvar</button>
		        <a class="btn" href="{{ path('sizes') }}">Voltar</a>
	        {{ form_end( form ) }}
	    </div>
	</div>

{% endblock %}