{% extends 'AdSisBundle::template.html.twig' %}

{% block title %}Minhas Contas{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp uppercase">Listagem das minhas contas</span>
                </div>

                <a href="{{ path('account_new') }}" class="btn green-sharp pull-right uppercase">
                    <i class="fa fa-fw fa-plus"></i> Criar nova conta
                </a>
            </div>
            <div class="portlet-body">
	            {% if entities|length > 0 %}
	                <table class="table table-hover table-bordered">
	                    <thead class="uppercase">
		                    <th>Id</th>
		                    <th>Nome</th>
		                    <th></th>
	                    </thead>
	                    <tbody>
	                        {% for entity in entities %}
		                        <tr>
		                            <td>{{ entity.id }}</td>
		                            <td><a href="{{ path('account_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
		                            <td align="right">
		                                <a class="btn purple" href="{{ path('account_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
		                                <a class="btn red" href="{{ path('account_show', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>
		                            </td>
		                        </tr>
		                    {% endfor %}
	                    </tbody>
	                </table>
                {% else %}
	                <p class="font-grey-cascade">Nenhuma conta encontrada.</p>
	            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
