{% extends 'AdSisBundle::template.html.twig' %}

{% block title %}Contas - Novo{% endblock %}

{% block body -%}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp uppercase">Adicionar conta</span>
            </div>
        </div>
        <div class="portlet-body">
	        {{ form_start( form ) }}
		        <div class="row">
			        <div class=col-md-6>
				        <div class="form-group">
					        {{ form_label( form.name ) }}
					        {{ form_widget( form.name ) }}
				        </div>
			        </div>
		        </div>

		        <hr />

		        <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-check-circle"></i> Salvar</button>
		        <a class="btn" href="{{ path( 'account' ) }}">Cancelar</a>
	        {{ form_end( form ) }}
        </div>
    </div>
{% endblock %}