{% extends 'AdSisBundle::template.html.twig' %}

{% block body -%}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">Editar banner</span>
        </div>
    </div>
    <div class="portlet-body">
        {{ form_start( edit_form ) }}

        <div class="form-group">
            {{ form_label( edit_form.name ) }}
            {{ form_widget( edit_form.name ) }}
        </div>

        <div class="form-group">
            {{ form_label( edit_form.positions ) }}
            {{ form_widget( edit_form.positions ) }}
        </div>

        <div class="form-group">
            {{ form_label( edit_form.external ) }}
            {{ form_widget( edit_form.external ) }}
        </div>

        <div class="externalLink">
            <div class="form-group">
                {{ form_label( edit_form.link ) }}
                {{ form_widget( edit_form.link ) }}
                <small>ex: http://www.google.com</small>
            </div>

            <div class="form-group">
                {{ form_label( edit_form.fileupload ) }}
                {{ form_widget( edit_form.fileupload ) }}
                <small>ex: http://www.google.com</small>
            </div>
        </div>

        <div class="externalCode">
            <div class="form-group">
                {{ form_label( edit_form.code ) }}
                {{ form_widget( edit_form.code ) }}
            </div>
        </div>

        <hr />

        <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-check"></i> Salvar</button>
        <a class="btn" href="{{ path('banners') }}">Voltar</a>

        {{ form_end( edit_form ) }}
    </div>
</div>
{% endblock %}
