{% extends 'AdSisBundle::template.html.twig' %}

{% block title %}
    Banners
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold uppercase">Listagem dos banners</span>
                </div>

                <a href="{{ path('banners_new') }}" class="btn green-sharp pull-right uppercase bold">
                    <i class="fa fa-fw fa-plus"></i> Adicionar novo banner
                </a>
            </div>
            <div class="portlet-body">
                <table class="table table-hover table-light">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tamanho</th>
                        <th>Nome</th>
                        <th>Banner</th>
                        <th>Externo</th>
                        <th width="120"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.positions.name }}</td>
                            <td>{{ entity.name }}</td>
                            <td>
                                {% if entity.external == 1 %}
                                    <a class="fancybox" href="#banner_{{ entity.id }}">Visualizar</a>
                                {% else %}
                                    <a class="fancybox" href="{{ asset( ( 'upload/' ~ entity.fileupload.filename ) ) }}">Visualizar</a>
                                {% endif %}
                            </td>
                            <td>{% if entity.external == 0 %}{{ "Não" }}{% else %}{{ "Sim" }}{% endif %}</td>
                            <td align="right">
                                <a class="btn purple" href="{{ path('banners_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                                <a class="btn red" href="{{ path('banners_show', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% for entity in entities %}
                    {% if entity.external == 1 %}
                        <div id="banner_{{ entity.id }}" style="display: none;">
                            {{ entity.code|raw }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
