{% extends 'AdSisBundle::template.html.twig' %}

{% block body -%}

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp bold uppercase">Adicionar banner</span>
            </div>
        </div>
        <div class="portlet-body">
            {{ form_start( form ) }}

            <div class="form-group">
                {{ form_label( form.code ) }}
                {{ form_widget( form.code ) }}
            </div>

            <div class="form-group">
                {{ form_label( form.link ) }}
                {{ form_widget( form.link ) }}
            </div>

            <div class="form-group">
                {{ form_label( form.FileUpload ) }}
                {{ form_widget( form.FileUpload ) }}
            </div>

            <hr />

            <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-check"></i> Salvar</button>
            <a class="btn" href="{{ path('banners') }}">Voltar</a>

            {{ form_end( form ) }}
        </div>
    </div>

{% endblock %}