{% extends 'AdSisBundle::template.html.twig' %}

{% block title %}
    Página inicial
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">Segmentos</span>
                    </div>

                    <div class="title-button-option pull-right">
                        <a href="{{ path('segments_new') }}" class="btn green-sharp title-button pull-right" title="Adicionar segmento">
                            <i class="fa fa-fw fa-plus"></i>
                        </a>

                        <a href="{{ path('segments') }}" class="btn green-sharp title-button pull-right" title="Listar segmentos">
                            <i class="fa fa-list"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="segments-area">
                        {% if segments %}
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-tabs">
                                {% for segment in segments %}
                                    <li>
                                        <a title="Listar {{ segment.name }}" href="#tab_{{ segment.id }}" class="btn-loadaction" data-id="{{ segment.id }}" data-path="{{ path( "segments_loadsegment" ) }}" data-step="tab-content" data-toggle="tab" aria-expanded="true">
                                            {{ segment.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                <div class="text">Selecione um segmento acima</div>

                                <div class="loader text-center">
                                    <img src="{{ asset( "assets/global/img/input-spinner.gif" ) }}" />
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}