{% extends 'AdSisBundle::template.html.twig' %}

{% block title %}
    Segmentos
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">Listagem dos segmentos</span>
                    </div>

                    <a href="{{ path( "_default_segments" ) }}" class="btn green-sharp pull-right uppercase bold">
                        <i class="fa fa-fw fa-plus"></i> Adicionar novo segmento
                    </a>
                </div>
                <div class="portlet-body">
                    <table class="table table-hover table-light">
                        <thead class="uppercase">
                            <th>Nome</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% if segments %}
                                {% for segment in segments %}
                                    <tr>
                                        <td>{{ segment.name }}</td>
                                        <td align="right">
                                            <a class="btn purple" href="{{ path( "_default_segments", { id : segment.id } ) }}"><i class="fa fa-pencil"></i></a>
                                            <a class="btn red" href="{{ path( "_default_segments", { id : segment.id } ) }}"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2">Nenhum registro</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}