<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
	<div class="container-fluid">
		<div class="hor-menu ">
			<ul class="nav navbar-nav">
				<li class="{{ app.request.get( "_route" ) matches( "/_default(.*)/" ) ? "active" }}">
					<a href="{{ path( "_default" ) }}">Pagina inicial</a>
				</li>
				<li class="{{ app.request.get( "_route" ) matches( "/account(.*)/" ) ? "active" }}">
					<a href="{{ path( "account" ) }}">Minhas Contas</a>
				</li>
				<li class="{{ app.request.get( "_route" ) matches( "/banners(.*)/" ) ? "active" }}">
					<a href="{{ path( "banners" ) }}">Banners</a>
				</li>
				<li class="{{ app.request.get( "_route" ) matches( "/campaigns(.*)/" ) ? "active" }}">
					<a href="{{ path( "campaigns" ) }}">Campanhas</a>
				</li>
				<li class="{{ app.request.get( "_route" ) matches( "/sizes(.*)/" ) ? "active" }}">
					<a href="{{ path( "sizes" ) }}">Tamanhos</a>
				</li>
				<li class="{{ app.request.get( "_route" ) matches( "/segments(.*)/" ) ? "active" }}">
					<a href="{{ path( "segments" ) }}">Segmentos</a>
				</li>
				<li class="{{ app.request.get( "_route" ) matches( "/sites(.*)/" ) ? "active" }}">
					<a href="{{ path( "sites" ) }}">Sites</a>
				</li>
				<li class="menu-dropdown classic-menu-dropdown">
					<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="hover-initialized">
						Usuários <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path( "users" ) }}">Listar Usuários</a>
						</li>
						<li>
							<a href="{{ path( "users" ) }}">Grupos de Usuários</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- END MEGA MENU -->
	</div>
</div>
<!-- END HEADER MENU -->