<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset( "assets/global/plugins/font-awesome/css/font-awesome.min.css" ) }}" rel="stylesheet"
              type="text/css" />
        <link href="{{ asset( "assets/global/plugins/uniform/css/uniform.default.css" ) }}" rel="stylesheet"
              type="text/css" />

        {% stylesheets
	        'assets/global/plugins/bootstrap/css/bootstrap.min.css'
	        'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
	        'assets/global/css/components.css'
	        'assets/global/css/plugins.css'
	        'assets/global/css/jquery.fancybox.css'
	        'assets/admin/layout3/css/layout.css'
	        'assets/admin/layout3/css/themes/default.css'
	        'assets/admin/layout3/css/custom.css' %}
	        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="page-container-bg-solid">
    {% block header %}
        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container-fluid">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="index.html"><img src="{{ asset( "assets/admin/layout3/img/logo-default.png" ) }}" alt="logo" class="logo-default" /></a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="droddown dropdown-separator">
                                <span class="separator"></span>
                            </li>
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="{{ asset( "assets/admin/layout3/img/avatar9.jpg" ) }} ">
                                    <span class="username username-hide-mobile">Eduardo</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="login.html">
                                            <i class="icon-key"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END HEADER TOP -->

	        {% include "AdSisBundle::menu.html.twig" %}

        </div>
        <!-- END HEADER -->
    {% endblock %}

    <div class="page-content">
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="page-footer print-remove">
        <div class="page-footer-inner">2015</div>
        <div class="page-footer-tools">
            <span class="go-top">
               <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>

    {% block javascripts %}
        {% javascripts
        'assets/global/plugins/jquery.min.js'
        'assets/global/plugins/jquery-migrate.min.js'
        'assets/global/plugins/jquery-ui/jquery-ui.min.js'
        'assets/global/plugins/bootstrap/js/bootstrap.min.js'
        'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
        'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
        'assets/global/plugins/jquery.blockui.min.js'
        'assets/global/plugins/jquery.cokie.min.js'
        'assets/global/plugins/uniform/jquery.uniform.min.js'
        'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
        'assets/global/scripts/metronic.js'
        'assets/global/plugins/jquery.fancybox.js'
        'assets/admin/sis.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>